.mt-90px {
    margin-top: 90px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.bg-image {
    background-image: url('assets/images/bg/joanna-kosinska-compressed.jpg');
    background-size: cover;
    min-height: 80vh;
  }



.profile-picture {
    background-image: url('assets/images/bg/filippofresilli_profile.jpg');
    background-size: cover;
}

/* footer */
